<style>
	.news-posts{
		color: black;
		padding: 10px;
		margin: 5px 0px;
	}

	.news-posts .post{
		height: 25px;
		line-height: 25px;
		list-style-position: inside;
		cursor: pointer;
	}

	.news-posts .title{
		text-decoration: none;
		color: black;
	}

	.news-posts .post:hover>.title, .news-posts .post:hover>.time{
		color: rgb(35, 145, 182);
		font-weight: bold;
	}

	.news-posts .time{
		float: right;
		color: black;
	}
</style>

<ul class="news-posts">
	<li class="post">
		<a class="title" href="">해강건설 주식회사 제33기 결산공고</a>
		<span class="time">03.18</span>
	</li>
	<li class="post">
		<a class="title" href="">주식명의개서 정지공고</a>
		<span class="time">03.16</span>
	</li>
	<li class="post">
		<a class="title" href="">해강건설, 내달 부산 </a>
		<span class="time">03.09</span>
	</li>
	<li class="post">
		<a class="title" href="">해강건설, 정수분야 환경신기술 인증 획득</a>
		<span class="time">03.02</span>
	</li>
	<li class="post">
		<a class="title" href="">‘설 맞이 떡국나눔’으로  사랑나눔 실천</a>
		<span class="time">02.17</span>
	</li>
	<li class="post">
		<a class="title" href="">해강건설, 설 맞아 협력업체에 자금 조기 집행</a>
		<span class="time">02.16</span>
	</li>
</ul>