@charset "utf-8";

.history_content {background: #FFF;}
.history_content .historyTable {width: 100%; margin: 0; padding: 0; border-spacing: 0px; border-collapse:collapse; border-top:2px solid #9BAED2; border-bottom:2px solid #CCC}
.history_content .historyTable th {background: #F4F4F4; padding: 5px; border: 1px solid #CCC; font-weight: bold; text-align: center;}
.history_content .historyTable td {padding:5px; background: #FFF; border: 1px solid #CCC; text-align: center;}

.history_content .center {text-align: center;}
.history_content .left {text-align: left !important;}
.history_content .right {text-align: right !important;}

.history_content .btn {padding:10px 0;}